body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* start of nav */
nav{
    height: 230px;
    background-color: #DDCBE8;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
nav img{
    width: 200px;
    margin-right: 65px;
}
nav ul{
    margin: 0;
    padding: 0;
}
.nav_list{
    margin-right: 12px;
    margin-bottom: 5px;
}
.nav_list li{
    margin-top: 2px;
    font-size: 25px;
    list-style: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #cdb3df;
    border-style: solid;
    border-width: 2px;
    border-color: #c9acdd;
}
.nav_list a{
    border-color: #c9acdd;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    color: rgb(0, 0, 0);
}
.nav_list a:hover{
    background-color: #c196dd;
}
.nav_buttons button{
    font-size: 20px;
    border-style: none;
    background-color: #5795cf;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px 20px 5px 20px;
}
.nav_buttons button:hover{
    cursor: pointer;
    background-color: #72ade6;
}
/* end of nav */


/* start of header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-image: url(images/bg_image_violet_opacity_changed.png);
    /*background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);*/
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-bottom-style: solid;
    border-top-style: solid;
}
.header_left{
    text-align: center;
}
h1 span{
    /*background: rgba(235, 230, 230, 0.3);*/
    letter-spacing: -0.5px;
    padding: 0.4px;
    color: rgba(24, 22, 22, 0.808);
}
header h1{
    display: inline-block;
    font-size: 25px;
    text-align: center;
    margin: 0 0 20px 0;
}
header h4{
    margin: 0;
    margin-top: 10px;
    font-weight: normal;
    background: rgba(235, 230, 230, 0.3);
}
/* end of header */


/* start of features */
.features{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.features div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.feature{
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px ;
}
.features img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 9px black;
}
.features h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
/* end of features */


/* start of testimonies */
#testimonies{
    color: #1b83e8;
    text-align: center;
}
.comment1{
    display: flex;
    border-top-style: solid;
    border-bottom-style: solid;
    margin-top: 10px;
    background-color: #F4E9FB;
    border-color: #DDCBE8;
}
.comment2{
    display: flex;
    border-top-style: solid;
    border-bottom-style: solid;
    margin-top: 10px;
    background-color: #F4E9FB;
    border-color: #DDCBE8;
}
.image1{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-image: url(images/male_profile_pic.PNG);
    background-size: contain;
    box-shadow: 2px 2px 5px black;
}
.image2{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-image: url(images/female_profile_pic.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 5px black;
}
.flex_comment{
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comments span{
    font-weight: 600;
}
.comment2 p{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    text-align: center;
}
.comment1 p{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    text-align: center;
}
/* end of testimonies */


/* start of form */
.form_div {
    background-color: #d0bcdd;
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#form_txt{
    font-size: 20px;
    outline: none;
    border: none;
    height: 40px;
    width: 400px;
    box-sizing: border-box;
    border-radius: 5px;
}
#form_btn{
    font-size: large;
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 0 20px 0 20px;
    background-color: #9cc7f0;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.52);

}
#form_btn:hover{
    cursor: pointer;
    background-color: #bedefc;
    color: rgb(20, 19, 19);
}
.form_div form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_div h3{
    text-align: center;
    margin: 0 0 20px 0;
}
#form_txt{
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
    width: 300px;
}
.button1{
    font-family: arial;
    font-size: large;
    padding: 15px 20px 15px 20px;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #00000098;
    border-radius: 3px;
    margin-top: 20px;
    width: max-content;
    height: 50px;
    font-size: 18px;
    text-shadow: -0.5px -0.5px 2px #000000;
    background: linear-gradient(#98ba40, #a6c250 35%, #618926);
    transition: ease .15s;
}
.button1:hover{
    cursor: pointer;
    text-shadow: 1px 1px 2px #000000;
    background: linear-gradient(#92b92f, #a0c03e 35%, #5c881b);
}
/* end of form */


/* start of footer */
footer{
    background-color: #DDCBE8;
    display: inline-block;
    width: 100%;
}
footer li{
    list-style: none;
    display: inline-block;
}
footer a{
    text-decoration: none;
    margin-left: 10px;
    color: black;
}
footer i {
    text-align: left;
}

 footer a:hover{
    color:#1b83e8;
   
}
/* end of footer */
   


    



@media (min-width: 1000px){
    nav{
        height: 70px;
        box-sizing: border-box;
        padding-left: 30px;
        width: 100%;
        position: sticky;
        top: 0;
    }
    nav img{
        width: auto;
        height: 60px;
    }
    .navbar{
        justify-content: flex-start;
    }
    .nav_main{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 70px;
    }
    .nav_list{
        margin-right: 0;
        margin-bottom: 0;
    }
    .nav_list ul{
        display: flex;
        flex-direction: row;
        margin-left: 100px;
        height: 70px;
    }
    .nav_list a{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .nav_list li{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        margin-top: 0px;
    }

    .features{
        flex-direction: row;
        margin-top: 60px;
    }
    .features div{
        width: 33%;
        border-bottom-style: none;
        border-left-style: solid;
        border-width: 1.5px;
    }
    .features img{
        width: 350px;
        height: 250px;
    }
    header{
        height: 400px;
    }
    .comment1, .comment2{
        width: 45%;
        margin-left: 3%;
        border-style: solid;
        border-radius: 10px;
    }
    .comments{
        display: flex;
    }
    .form_div{
        height: 100px;
    }
    .form_div form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .form_div h3{
        text-align: center;
        margin: 0;
        margin-right: 50px;
    }
    .header_left h1 span{
        font-size: 30px;
    }
}

@media(max-width:500px){
    .nav_buttons{
        display: none;
    }
    nav img{
        margin-right: 0;
    }
    .form_input{
        display: flex;
        flex-direction: column;
    }
    #form_btn{
        margin-top: 10px;
    }
    footer ul{
        padding-left: 0;
    }
    header h1{
        font-size: larger;
    }
    header h4{
        font-size: medium;
    }
}