body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    height: 230px;
    background-color: #DDCBE8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav img{
    width: 200px;
    margin-right: 65px;
}
.nav_list{

}
nav ul{
    margin: 0;
    padding: 0;
}
.nav_list{
    margin-right: 12px;
    margin-bottom: 5px;
}
.nav_list li{
    margin-top: 2px;
    font-size: 25px;
    list-style: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #cdb3df;
    border-style: solid;
    border-width: 2px;
    border-color: #c9acdd;
}
.nav_list a{
    border-color: #c9acdd;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    color: rgb(0, 0, 0);
}
.nav_list a:hover{
    background-color: #c196dd;
}
.nav_buttons button{
    font-size: 20px;
    border-style: none;
    background-color: #023972;
    color: white;
    border-radius: 5px;
    width: 100px;
    margin-right: 10px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    
    padding: 20px;
}
.form_div form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_div h3{
    text-align: center;
    margin: 0 0 20px 0;
}
#form_txt{
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
    width: 300px;
}
.button1{
    color: #000000;
    background-color: #A9E8FE;
    border-style: solid;
    border-radius: 5px;
    margin-top: 20px;
    width: 180px;
    height: 50px;
    font-size: 15px;

    }
    
.features{
    display: flex;
    flex-direction: column;
}
.features div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.feature{
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px ;
}
.features img{
    width: 100%;
}
h1{
    color: #2CC8FF;
    text-align: center;
}
.comment1{
    display: flex;
    border-top-style: solid;
    border-bottom-style: solid;
    margin-top: 10px;
    background-color: #F4E9FB;
    border-color: #DDCBE8;
}
.comment2{
    display: flex;
    border-top-style: solid;
    border-bottom-style: solid;
    margin-top: 10px;
    background-color: #F4E9FB;
    border-color: #DDCBE8;
}
.image1{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-image: url(../male_profile_pic.png);
    background-size: contain;
}
.image2{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-image: url(../female_profile_pic.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.flex_comment{
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.comment2 h4{
    margin-top: 30px;
    margin-left: 50px;
}
.comment1 h4{
    margin-top: 30px;
    margin-left: 50px;
}
footer{background-color: #DDCBE8;}
footer li{
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
}
footer a{
    text-decoration: none;
    color: black;
}
footer i {
    text-align: left;
}

 footer a:hover{
    color:#6eb9df;
   
}

   


    
.form_div {
    background-color: #d0bcdd;
    border: none;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 2px;
}
#form_btn{
    border: none;
    padding: 5px;
    border-radius: 2px;
}
